
<%= form_for :post do |f| %>
    <h6> LOGIN AS EXISTING CUSTOMER</h6>
   
   
    <p>
      <%= f.label :User %><br>
      <%= f.text_field :title %>
    </p>
  
    <p>
    <%= f.label :Email %><br>
    <%= f.text_field :title %>
    </p>

    <p>
    <%= f.label :Password %><br>
    <%= f.password_field :title %>
    </p>
  
    <p>
      <%= f.submit %>
    </p>


  <% end %>